$breakpoints: (
  "xs": 0,
  "sm": 744px,
  "md": 1280px,
  "lg": 1440px,
);

/* ------------------MEDIA QUERY----------------- */

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin breakpoints($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

/* ------------------FONT SIZE----------------- */
.resposive-font-h1 {
  @include xs {
    font-size: $fs-mobile-h1;
    color: $primary-color;
    font-weight: 700;
  }

  @include sm {
    font-size: $fs-tblt-h1;
    color: $primary-color;
    font-weight: 700;
  }

  @include md {
    font-size: $fs-dskS-h1;
    color: $primary-color;
    font-weight: 700;
  }

  @include lg {
    font-size: $fs-dskL-h1;
    color: $primary-color;
    font-weight: 700;
  }
}

.resposive-font-h2 {
  @include xs {
    font-size: $fs-mobile-h2;
    color: $primary-color;
    font-weight: 600;
  }

  @include sm {
    font-size: $fs-tblt-h2;
    color: $primary-color;
    font-weight: 600;
  }

  @include md {
    font-size: $fs-dskS-h2;
    color: $primary-color;
    font-weight: 600;
  }

  @include lg {
    font-size: $fs-dskL-h2;
    color: $primary-color;
    font-weight: 600;
  }
}

.resposive-font-h3 {
  @include xs {
    font-size: $fs-mobile-h3;
    color: $primary-color;
    font-weight: 400;
  }

  @include sm {
    font-size: $fs-tblt-h3;
    color: $primary-color;
    font-weight: 400;
  }

  @include md {
    font-size: $fs-dskS-h3;
    color: $primary-color;
    font-weight: 400;
  }

  @include lg {
    font-size: $fs-dskL-h3;
    color: $primary-color;
    font-weight: 400;
  }
}

.resposive-font-txt {
  @include xs {
    font-size: $fs-mobile-txt;
    color: $primary-color;
    font-weight: 300;
  }

  @include sm {
    font-size: $fs-tblt-txt;
    color: $primary-color;
    font-weight: 300;
  }

  @include md {
    font-size: $fs-dskS-txt;
    color: $primary-color;
    font-weight: 300;
  }

  @include lg {
    font-size: $fs-dskL-txt;
    color: $primary-color;
    font-weight: 300;
  }
}

.resposive-font-footer {
  @include xs {
    font-size: $fs-mobile-footer;
    color: $primary-color;
    font-weight: 500;
  }

  @include sm {
    font-size: $fs-tblt-footer;
    color: $primary-color;
    font-weight: 500;
  }

  @include md {
    font-size: $fs-dskS-footer;
    color: $primary-color;
    font-weight: 500;
  }

  @include lg {
    font-size: $fs-dskL-footer;
    color: $primary-color;
    font-weight: 500;
  }
}

.resposive-font-nav {
  @include md {
    font-size: $fs-dskS-nav;
    color: $primary-color;
    font-weight: 500;
  }

  @include lg {
    font-size: $fs-dskL-nav;
    color: $primary-color;
    font-weight: 500;
  }
}

/* -------------TEXT ALIGNS----------------- */
.text-center {
  @include xs {
    text-align: center;
  }

  @include sm {
    text-align: center;
  }

  @include md {
    text-align: center;
  }

  @include lg {
    text-align: center;
  }
}

.text-left {
  @include xs {
    text-align: left;
  }

  @include sm {
    text-align: left;
  }

  @include md {
    text-align: left;
  }

  @include lg {
    text-align: left;
  }
}

.text-right {
  @include xs {
    text-align: right;
  }

  @include sm {
    text-align: right;
  }

  @include md {
    text-align: right;
  }

  @include lg {
    text-align: right;
  }
}

/* -------------FOOTER ICONS AND HEIGHT----------------- */

.responsive-footer {
  @include xs {
    height: $footer-height-mobile;
    background-color: $secundary-color;
    width: 100%;
    @include flex-around(row, null);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  @include sm {
    height: $footer-height-tblt;
    background-color: $secundary-color;
    width: 100%;
    @include flex-around(row, null);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  @include md {
    height: $footer-height-dskS;
    background-color: $secundary-color;
    width: 100%;
    @include flex-around(row, null);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  @include lg {
    height: $footer-height-dskL;
    background-color: $secundary-color;
    width: 100%;
    @include flex-around(row, null);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}

.linkedin {
  @include xs {
    background-image: url(/assets/socialmedia/mobile/LinkedMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  @include sm {
    background-image: url(/assets/socialmedia/tablet/LinkTblt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }

  @include md {
    background-image: url(/assets/socialmedia/desktopS/LinkDeskS.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }

  @include lg {
    background-image: url(/assets/socialmedia/desktopL/LinkDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

.github {
  @include xs {
    background-image: url(/assets/socialmedia/mobile/GithubMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  @include sm {
    background-image: url(/assets/socialmedia/tablet/GithubTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }

  @include md {
    background-image: url(/assets/socialmedia/desktopS/GithubDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }

  @include lg {
    background-image: url(/assets/socialmedia/desktopL/GithubDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

.instagram {
  @include xs {
    background-image: url(/assets/socialmedia/mobile/InstagramMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  @include sm {
    background-image: url(/assets/socialmedia/tablet/InstagramTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }

  @include md {
    background-image: url(/assets/socialmedia/desktopS/InstagramDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }

  @include lg {
    background-image: url(/assets/socialmedia/desktopL/InstagramDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

.twitter {
  @include xs {
    background-image: url(/assets/socialmedia/mobile/TwitterMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  @include sm {
    background-image: url(/assets/socialmedia/tablet/TwitterTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }

  @include md {
    background-image: url(/assets/socialmedia/desktopS/TwitterDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }

  @include lg {
    background-image: url(/assets/socialmedia/desktopL/TwitterDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

.facebook {
  @include xs {
    background-image: url(/assets/socialmedia/mobile/FacebookMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  @include sm {
    background-image: url(/assets/socialmedia/tablet/FacebookTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }

  @include md {
    background-image: url(/assets/socialmedia/desktopS/FacebookDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }

  @include lg {
    background-image: url(/assets/socialmedia/desktopL/FacebookDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

/* ------------------NAVIGATION------------------- */
.nav-responsive {
  @include xs {
    height: $nav-height-mobile;
    width: $wrapper-width-mobile;
    top: $body-paddingX-mobile;
    @include flex-between(row, null);
    position: fixed;
    z-index: 15;
  }

  @include sm {
    height: $nav-height-tblt;
    width: $wrapper-width-tblt;
    top: $body-paddingX-tblt;
    @include flex-between(row, null);
    position: fixed;
    z-index: 15;
  }

  @include md {
    height: $nav-height-dskS;
    width: $wrapper-width-dskS;
    top: $body-paddingX-dskS;
    @include flex-between(row, null);
    position: fixed;
    z-index: 15;
  }

  @include lg {
    height: $nav-height-dskL;
    width: $wrapper-width-dskL;
    top: $body-paddingX-dskL;
    @include flex-between(row, null);
    position: fixed;
    z-index: 15;
  }
}

.nav-dsk-container {
  @include md {
    width: 100%;
    height: 100%;
    @include flex-between(row, null);
  }

  @include lg {
    width: 100%;
    height: 100%;
    @include flex-between(row, null);
  }
}

/* ----------logo------------------- */
.logo-container {
  @include xs {
    background-image: url(/assets/logos/MOBILE\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 6rem;
    width: 6rem;
  }

  @include sm {
    background-image: url(/assets/logos/TABLET\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 12.4rem;
    width: 12.4rem;
  }

  @include md {
    background-image: url(/assets/logos/DESKTOP\ S\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    width: 15rem;
  }

  @include lg {
    background-image: url(/assets/logos/DESKTOP\ L\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    width: 15rem;
  }
}

/* --------------ham menu----------------- */

.nav-menu {
  @include xs {
    background-color: $primary-color;
    position: relative;
    height: 0.1rem;
    width: 2rem;
    z-index: 51;
    transition: all 0.5s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: -0.5rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;
    }
  }

  @include sm {
    background-color: $primary-color;
    position: relative;
    height: 0.21rem;
    width: 4.1rem;
    z-index: 51;
    transition: all 0.5s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;
    }
  }

  @include md {
    display: none;
  }

  @include lg {
    display: none;
  }
}

.menu-container.open .nav-menu::before {
  @include xs {
    transform: rotate(771deg) translate(3.5rem, -3.5rem);
  }

  @include sm {
    transform: rotate(776.1deg) translate(3.5rem, -3.5rem);
  }

  @include md {
    display: none;
  }

  @include lg {
    display: none;
  }
}

.menu-container.open .nav-menu::after {
  @include xs {
    transform: rotate(-771deg) translate(3.5rem, 3.5rem);
  }

  @include sm {
    transform: rotate(-776.1deg) translate(3.5rem, 3.5rem);
  }

  @include md {
    display: none;
  }

  @include lg {
    display: none;
  }
}

.link-container {
  @include xs {
    height: 100vh;
    width: 80vw;
    position: absolute;
    top: -4.5rem;
    right: -2.7rem;
    display: hidden;
    z-index: 50;
    background-color: $secundary-color;
    @include flex-start-x(column, 6rem);
    list-style: none;
    font-weight: 600;
    overflow: hidden;
  }

  @include sm {
    top: -10rem;
    right: -8rem;
  }

  @include md {
    display: none;
  }

  @include lg {
    display: none;
  }
}

.hide {
  @include xs {
    display: none;
  }

  @include sm {
    display: none;
  }

  @include md {
    display: none;
  }

  @include lg {
    display: none;
  }
}

.txt-menu {
  @include xs {
    display: none;
  }

  @include sm {
    display: none;
  }

  @include md {
    @include flex-between(row, null);
    font-size: $fs-dskS-nav;
    color: $primary-color;
    width: 45%;
    list-style: none;
  }

  @include lg {
    @include flex-between(row, null);
    font-size: $fs-dskS-nav;
    color: $primary-color;
    width: 45%;
    list-style: none;
  }
}
