/* -------------------FONTS------------- */
/* -----MOBILE----- */
.h1-mobile{
    font-size: $fs-mobile-h1;
    font-weight: 800;
    color: $primary-color;
   @include align(center);
}

.h2-mobile{
    font-size: $fs-mobile-h2;
    font-weight: 700;
    color: $primary-color;
   @include align(center);
}

.h3-mobile{
    font-size: $fs-mobile-h3;
    font-weight: 500;
    color: $primary-color;
   @include align(center);
}

.txt-mobile-right{
    font-size: $fs-mobile-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(right);
}

.txt-mobile-left{
    font-size: $fs-mobile-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

.footer-mobile{
    font-size: $fs-mobile-footer;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

/* -----TABLET----- */
.h1-tblt{
    font-size: $fs-tblt-h1;
    font-weight: 800;
    color: $primary-color;
   @include align(center);
}

.h2-tblt{
    font-size: $fs-tblt-h2;
    font-weight: 700;
    color: $primary-color;
   @include align(center);
}

.h3-tblt{
    font-size: $fs-tblt-h3;
    font-weight: 500;
    color: $primary-color;
   @include align(center);
}

.txt-tblt-right{
    font-size: $fs-tblt-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(right);
}

.txt-tblt-left{
    font-size: $fs-tblt-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

.footer-tblt{
    font-size: $fs-tblt-footer;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

/* --------DESKTOP SMALL-------- */
.h1-dskS{
    font-size: $fs-dskS-h1;
    font-weight: 800;
    color: $primary-color;
   @include align(center);
}

.h2-dskS{
    font-size: $fs-dskS-h2;
    font-weight: 700;
    color: $primary-color;
   @include align(center);
}

.h3-dskS{
    font-size: $fs-dskS-h3;
    font-weight: 500;
    color: $primary-color;
   @include align(center);
}

.txt-dskS-right{
    font-size: $fs-dskS-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(right);
}

.txt-dskS-left{
    font-size: $fs-dskS-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

.nav-dskS{
    font-size: $fs-dskS-nav;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

.footer-dsks{
    font-size: $fs-dskS-footer;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

/* ------ DESKTOP LARGE ------ */
.h1-dskL{
    font-size: $fs-dskL-h1;
    font-weight: 800;
    color: $primary-color;
   @include align(center);
}

.h2-dskL{
    font-size: $fs-dskL-h2;
    font-weight: 700;
    color: $primary-color;
   @include align(center);
}

.h3-dskL{
    font-size: $fs-dskL-h3;
    font-weight: 500;
    color: $primary-color;
   @include align(center);
}

.txt-dskL-right{
    font-size: $fs-dskL-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(right);
}

.txt-dskL-left{
    font-size: $fs-dskL-txt;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

.nav-dskL{
    font-size: $fs-dskL-nav;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

.footer-dskL{
    font-size: $fs-dskL-footer;
    font-weight: 400;
    color: $primary-color;
   @include align(left);
}

/* -------MARGINS & PADDINGS------- */

