.nav {
  height: $nav-height-mobile;
  width: $wrapper-width-mobile;
  @include flex-between(row, null);
  position: fixed;
  top: $body-paddingX-mobile;
  z-index: 15;

    .img-container
    {
      height: 6rem;
      width: 6rem;
      background-image: url(/assets/logos/MOBILE\ LOGO.svg);
    }
}
.menu-container {
  transition: all 0.5s ease-in-out;
  height: 2rem;
  width: 2rem;
}

.nav-menu {
  background-color: $primary-color;
  position: relative;
  height: 0.1rem;
  width: 2rem;
  z-index: 51;
  transition: all 0.5s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    transition: all 0.5s ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    transition: all 0.5s ease-in-out;
  }
}

.menu-container.open .nav-menu{
    transform: translateX(-5rem);
    background: transparent;
}

.menu-container.open .nav-menu::before {
    transform: rotate(771deg) translate(3.5rem, -3.5rem);
}

.menu-container.open .nav-menu::after {
    transform: rotate(-771deg) translate(3.5rem, 3.5rem);
}

.link-container {
  height: 100vh;
  width: 80vw;
  position: absolute;
  top: -4.5rem;
  right: -2.7rem;
  display: hidden;
  z-index: 50;
  background-color: $secundary-color;
  @include flex-start-x(column, 6rem);
  list-style: none;
  font-size: $fs-mobile-h2;
  font-weight: 600;
  color: $primary-color;
  overflow: hidden;
}

.hide {
  display: none;
}


/* --------------MEDIA QUERY TABLET----------------- */
@media (min-width: 744px) {
  .nav{
    height: 16.8rem;
    width: 90%;
    .img-container
    {
      height: 12.4rem;
      width: 12.4rem;
      background-image: url(/assets/logos/TABLET\ LOGO.svg);
    }
      
  }

  .nav-menu {
    background-color: $primary-color;
    position: relative;
    height: .5rem;
    width: 4.5rem;
    z-index: 51;
    transition: all 0.5s ease-in-out;
  
    &:before {
      content: "";
      position: absolute;
      top: -1.3rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;
    }
  
    &:after {
      content: "";
      position: absolute;
      top: 1.3rem;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;
    }
  }

  .menu-container.open .nav-menu::before {
    transform: rotate(780.5deg) translate(3.5rem, -3.5rem);
}

.menu-container.open .nav-menu::after {
    transform: rotate(-780.5deg) translate(3.5rem, 3.5rem);
}
  
  .link-container{
    font-size: $fs-tblt-h2;
    right: -5rem;
    top: -8rem;
    height: 110vh;
  }
}