.nav {
  @include flex-between(row, null);
  position: fixed;
  z-index: 15;

}

.menu-container {
  transition: all 0.5s ease-in-out;
  height: 2rem;
  width: 2rem;
}

.menu-container.open .nav-menu {
  transform: translateX(-5rem);
  background: transparent;
}
