/* -------------COLORS------------- */
$primary-color: #fff;
$secundary-color: #0F1221;
/* -------------COLORS------------- */

/* ---------------FONT SIZE--------------- */
/* -----MOBILE----- */
$fs-mobile-txt: 1.6rem;
$fs-mobile-h1: 2.8rem;
$fs-mobile-h2: 2.5rem;
$fs-mobile-h3: 2rem;
$fs-mobile-footer: .8rem;

/* -----TABLET----- */
$fs-tblt-txt: 3.2rem;
$fs-tblt-h1: 6rem;
$fs-tblt-h2: 5rem;
$fs-tblt-h3: 4rem;
$fs-tblt-footer: 1.65rem;

/* -----DESKTOP SMALL----- */
$fs-dskS-txt: 3.5rem;
$fs-dskS-h1: 10rem;
$fs-dskS-h2: 9rem;
$fs-dskS-h3: 8rem;
$fs-dskS-nav: 2.5rem;
$fs-dskS-footer: 3.5rem;

/* -----DESKTOP LARGE----- */
$fs-dskL-txt: 3.2rem;
$fs-dskL-h1: 11rem;
$fs-dskL-h2: 10rem;
$fs-dskL-h3: 9rem;
$fs-dskL-nav: 3rem;
$fs-dskL-footer: 4rem;

/* ---------------GAPS--------------- */
/* -----MOBILE----- */
$body-paddingX-mobile: 2rem;
$nav-height-mobile: 8rem;
$footer-height-mobile: 3.6rem;
$wrapper-width-mobile: 32rem;

/* -----TABLET----- */
$body-paddingX-tblt: 4.4rem;
$nav-height-tblt: 16.8rem;
$footer-height-tblt: 7.4rem;
$wrapper-width-tblt: 65.6rem;

/* -----DESKTOP SMALL----- */
$body-paddingX-dskS: 7.5rem;
$nav-height-dskS: 18.6rem;
$footer-height-dskS: 7.2rem;
$wrapper-width-dskS: 113rem;

/* -----DESKTOP L----- */
$body-paddingX-dskL: 7.5rem;
$nav-height-dskL: 18.6rem;
$footer-height-dskL: 8rem;
$wrapper-width-dskL: 129rem;
