@import "reset";
@import "variables";
@import "mixins";
@import "nav";
@import "footer";
@import "breakBodyContact";
@import "breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');



span{
  font-weight: 600;
}

.wrapper{
  position: fixed;
}

.form-container{
    grid-area: form;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;   
    animation: var(--animation-slide-in-up);
    animation-duration:  2500ms;
  }


  .name-container input{
    border-radius: 1rem;
    border: .2rem solid white;
    height: 3rem;
  }

  .name-container input::placeholder{
    padding-left: 1rem;
  }

  .email-container input{
    border-radius: 1rem;
    border: .2rem solid white;
    height: 3rem;
  }

  .email-container input::placeholder{
    padding-left: 1rem;
  }

  .message-container textarea{
    border-radius: 1rem;
    border: .2rem solid white;
  }

  .message-container textarea::placeholder{
    padding-left: 1rem;
  }
 
  .button-container{
    position: relative;
    width: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.5rem;
  }

  .button{
    position: absolute;
    height: 3rem;
    left: 3.5rem;
    width: 15rem;
    
    border-radius: 1.3rem;
    border: .2rem solid white;
    background-color: #054658;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
  }

  .button:hover{
    background-color: #098FB3
  }

  .btn-txt{
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-size: 1.7rem;
  }

  .btn-icon{
    position: absolute;
    color: white;
    right: 2rem;
    top: .7rem;
    
  }
