@import "reset";
@import "variables";
@import "mixins";
@import "nav";
@import "footer";
@import "breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    background-image: url(/assets/bgImg/MOBILE\ BG\ HOME.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: $body-paddingX-mobile;
    z-index: 1;
    @include flex-center(column, null)
}

.wrapper{
    width: $wrapper-width-mobile;
    height: 45rem;
    z-index: 5;
    padding-top: 20%;
}


.form-container{
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  @include flex-center(column, null);
}


.name {
  border: none;
  background: none;
  resize: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
}

.name::placeholder {
  text-align: center;
  color: $primary-color;
  opacity: .65;  
}

.btn{
  background: none;
  text-align: center;
  outline: none;
  border: none;
}
