@import "reset";
@import "variables";
@import "mixins";
@import "nav";
@import "footer";
@import "breakBodyIndex";
@import "breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    z-index: 1;
    @include flex-center(column, null)
}

.nav-dsk-container{
    width: 100%;
    height: 100%;
    @include flex-between(row, null);
  }

