@import "reset";
@import "variables";
@import "mixins";
@import "classes";
@import "nav";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    background-color: $secundary-color;
    color: $primary-color;
    display: grid;
    place-content: center;
    padding: $body-paddingX-mobile;
    z-index: 1;
}

.wrapper{
    display: grid;
    place-content: center;

    h2{
        font-size: 3rem;

        a:hover{
            cursor: pointer;
            text-transform: scale(1.3);
        }
    }
};