/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* -------------COLORS------------- */
/* -------------COLORS------------- */
/* ---------------FONT SIZE--------------- */
/* -----MOBILE----- */
/* -----TABLET----- */
/* -----DESKTOP SMALL----- */
/* -----DESKTOP LARGE----- */
/* ---------------GAPS--------------- */
/* -----MOBILE----- */
/* -----TABLET----- */
/* -----DESKTOP SMALL----- */
/* -----DESKTOP L----- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 15;
}

.menu-container {
  transition: all 0.5s ease-in-out;
  height: 2rem;
  width: 2rem;
}

.menu-container.open .nav-menu {
  transform: translateX(-5rem);
  background: transparent;
}

.sm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.7rem;
}

/* ------------------MEDIA QUERY----------------- */
@media (min-width: 0) {
  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/assets/bgImg/MOBILE\ BG\ WELCOME.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
    min-width: 100vw;
    min-height: 100vh;
  }
}
@media (min-width: 744px) {
  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/assets/bgImg/TABLET\ BG\ WELCOME.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
    min-width: 100vw;
    min-height: 100vh;
  }
}
@media (min-width: 1280px) {
  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/assets/bgImg/DESKTOP\ S\ WELCOME.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
    min-width: 100vw;
    min-height: 100vh;
  }
}
@media (min-width: 1440px) {
  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/assets/bgImg/DESKTOP\ L\ WELCOME.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
    min-width: 100vw;
    min-height: 100vh;
  }
}

@media (min-width: 0) {
  .wrap {
    margin-top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 744px) {
  .wrap {
    margin-top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .wrap {
    margin-top: 10rem;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .wrap {
    margin-top: 15rem;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
}

@media (min-width: 0) {
  .img-container {
    background-image: url(/assets/icons/MOBILE\ DOOR.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 5rem;
    height: 5rem;
    display: grid;
    place-content: center;
  }
}
@media (min-width: 744px) {
  .img-container {
    background-image: url(/assets/icons/TABLET\ DOOR.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 8rem;
    height: 8rem;
    display: grid;
    place-content: center;
    position: absolute;
  }
}
@media (min-width: 1280px) {
  .img-container {
    background-image: url(/assets/icons/DESKTOP\ S\ DOOR.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 10rem;
    height: 10rem;
    display: grid;
    place-content: center;
    top: 45%;
    left: 80%;
  }
}
@media (min-width: 1440px) {
  .img-container {
    background-image: url(/assets/icons/DESKTOP\ L\ DOOR.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 13rem;
    height: 13rem;
    display: grid;
    place-content: center;
  }
}

/* ------------------MEDIA QUERY----------------- */
/* ------------------FONT SIZE----------------- */
@media (min-width: 0) {
  .resposive-font-h1 {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 744px) {
  .resposive-font-h1 {
    font-size: 6rem;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .resposive-font-h1 {
    font-size: 8rem;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 1440px) {
  .resposive-font-h1 {
    font-size: 11rem;
    color: #fff;
    font-weight: 700;
  }
}

@media (min-width: 0) {
  .resposive-font-h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
  }
}
@media (min-width: 744px) {
  .resposive-font-h2 {
    font-size: 5rem;
    color: #fff;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .resposive-font-h2 {
    font-size: 7rem;
    color: #fff;
    font-weight: 600;
  }
}
@media (min-width: 1440px) {
  .resposive-font-h2 {
    font-size: 10rem;
    color: #fff;
    font-weight: 600;
  }
}

@media (min-width: 0) {
  .resposive-font-h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
  }
}
@media (min-width: 744px) {
  .resposive-font-h3 {
    font-size: 4rem;
    color: #fff;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .resposive-font-h3 {
    font-size: 8rem;
    color: #fff;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .resposive-font-h3 {
    font-size: 9rem;
    color: #fff;
    font-weight: 400;
  }
}

@media (min-width: 0) {
  .resposive-font-txt {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 300;
  }
}
@media (min-width: 744px) {
  .resposive-font-txt {
    font-size: 3.2rem;
    color: #fff;
    font-weight: 300;
  }
}
@media (min-width: 1280px) {
  .resposive-font-txt {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 300;
  }
}
@media (min-width: 1440px) {
  .resposive-font-txt {
    font-size: 3.2rem;
    color: #fff;
    font-weight: 300;
  }
}

@media (min-width: 0) {
  .resposive-font-footer {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 500;
  }
}
@media (min-width: 744px) {
  .resposive-font-footer {
    font-size: 1.65rem;
    color: #fff;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .resposive-font-footer {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 500;
  }
}
@media (min-width: 1440px) {
  .resposive-font-footer {
    font-size: 4rem;
    color: #fff;
    font-weight: 500;
  }
}

@media (min-width: 1280px) {
  .resposive-font-nav {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
  }
}
@media (min-width: 1440px) {
  .resposive-font-nav {
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
  }
}

/* -------------TEXT ALIGNS----------------- */
@media (min-width: 0) {
  .text-center {
    text-align: center;
  }
}
@media (min-width: 744px) {
  .text-center {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .text-center {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .text-center {
    text-align: center;
  }
}

@media (min-width: 0) {
  .text-left {
    text-align: left;
  }
}
@media (min-width: 744px) {
  .text-left {
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .text-left {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .text-left {
    text-align: left;
  }
}

@media (min-width: 0) {
  .text-right {
    text-align: right;
  }
}
@media (min-width: 744px) {
  .text-right {
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .text-right {
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .text-right {
    text-align: right;
  }
}

/* -------------FOOTER ICONS AND HEIGHT----------------- */
@media (min-width: 0) {
  .responsive-footer {
    height: 3.6rem;
    background-color: #0F1221;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}
@media (min-width: 744px) {
  .responsive-footer {
    height: 7.4rem;
    background-color: #0F1221;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}
@media (min-width: 1280px) {
  .responsive-footer {
    height: 7.2rem;
    background-color: #0F1221;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}
@media (min-width: 1440px) {
  .responsive-footer {
    height: 8rem;
    background-color: #0F1221;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}

@media (min-width: 0) {
  .linkedin {
    background-image: url(/assets/socialmedia/mobile/LinkedMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 744px) {
  .linkedin {
    background-image: url(/assets/socialmedia/tablet/LinkTblt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }
}
@media (min-width: 1280px) {
  .linkedin {
    background-image: url(/assets/socialmedia/desktopS/LinkDeskS.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }
}
@media (min-width: 1440px) {
  .linkedin {
    background-image: url(/assets/socialmedia/desktopL/LinkDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

@media (min-width: 0) {
  .github {
    background-image: url(/assets/socialmedia/mobile/GithubMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 744px) {
  .github {
    background-image: url(/assets/socialmedia/tablet/GithubTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }
}
@media (min-width: 1280px) {
  .github {
    background-image: url(/assets/socialmedia/desktopS/GithubDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }
}
@media (min-width: 1440px) {
  .github {
    background-image: url(/assets/socialmedia/desktopL/GithubDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

@media (min-width: 0) {
  .instagram {
    background-image: url(/assets/socialmedia/mobile/InstagramMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 744px) {
  .instagram {
    background-image: url(/assets/socialmedia/tablet/InstagramTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }
}
@media (min-width: 1280px) {
  .instagram {
    background-image: url(/assets/socialmedia/desktopS/InstagramDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }
}
@media (min-width: 1440px) {
  .instagram {
    background-image: url(/assets/socialmedia/desktopL/InstagramDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

@media (min-width: 0) {
  .twitter {
    background-image: url(/assets/socialmedia/mobile/TwitterMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 744px) {
  .twitter {
    background-image: url(/assets/socialmedia/tablet/TwitterTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }
}
@media (min-width: 1280px) {
  .twitter {
    background-image: url(/assets/socialmedia/desktopS/TwitterDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }
}
@media (min-width: 1440px) {
  .twitter {
    background-image: url(/assets/socialmedia/desktopL/TwitterDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

@media (min-width: 0) {
  .facebook {
    background-image: url(/assets/socialmedia/mobile/FacebookMobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (min-width: 744px) {
  .facebook {
    background-image: url(/assets/socialmedia/tablet/FacebookTblt.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.2rem;
    width: 5.2rem;
  }
}
@media (min-width: 1280px) {
  .facebook {
    background-image: url(/assets/socialmedia/desktopS/FacebookDeskS.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 7.2rem;
    width: 7.2rem;
  }
}
@media (min-width: 1440px) {
  .facebook {
    background-image: url(/assets/socialmedia/desktopL/FacebookDeskL.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
    width: 8rem;
  }
}

/* ------------------NAVIGATION------------------- */
@media (min-width: 0) {
  .nav-responsive {
    height: 8rem;
    width: 32rem;
    top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 15;
  }
}
@media (min-width: 744px) {
  .nav-responsive {
    height: 16.8rem;
    width: 65.6rem;
    top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 15;
  }
}
@media (min-width: 1280px) {
  .nav-responsive {
    height: 18.6rem;
    width: 118rem;
    top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 15;
  }
}
@media (min-width: 1440px) {
  .nav-responsive {
    height: 18.6rem;
    width: 129rem;
    top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 15;
  }
}

@media (min-width: 1280px) {
  .nav-dsk-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .nav-dsk-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

/* ----------logo------------------- */
@media (min-width: 0) {
  .logo-container {
    background-image: url(/assets/logos/MOBILE\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 6rem;
    width: 6rem;
  }
}
@media (min-width: 744px) {
  .logo-container {
    background-image: url(/assets/logos/TABLET\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 12.4rem;
    width: 12.4rem;
  }
}
@media (min-width: 1280px) {
  .logo-container {
    background-image: url(/assets/logos/DESKTOP\ S\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    width: 15rem;
  }
}
@media (min-width: 1440px) {
  .logo-container {
    background-image: url(/assets/logos/DESKTOP\ L\ LOGO.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    width: 15rem;
  }
}

/* --------------ham menu----------------- */
@media (min-width: 0) {
  .nav-menu {
    background-color: #fff;
    position: relative;
    height: 0.1rem;
    width: 2rem;
    z-index: 51;
    transition: all 0.5s ease-in-out;
  }
  .nav-menu:before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
  .nav-menu:after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
}
@media (min-width: 744px) {
  .nav-menu {
    background-color: #fff;
    position: relative;
    height: 0.21rem;
    width: 4.1rem;
    z-index: 51;
    transition: all 0.5s ease-in-out;
  }
  .nav-menu:before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
  .nav-menu:after {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
}
@media (min-width: 1280px) {
  .nav-menu {
    display: none;
  }
}
@media (min-width: 1440px) {
  .nav-menu {
    display: none;
  }
}

@media (min-width: 0) {
  .menu-container.open .nav-menu::before {
    transform: rotate(771deg) translate(3.5rem, -3.5rem);
  }
}
@media (min-width: 744px) {
  .menu-container.open .nav-menu::before {
    transform: rotate(776.1deg) translate(3.5rem, -3.5rem);
  }
}
@media (min-width: 1280px) {
  .menu-container.open .nav-menu::before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .menu-container.open .nav-menu::before {
    display: none;
  }
}

@media (min-width: 0) {
  .menu-container.open .nav-menu::after {
    transform: rotate(-771deg) translate(3.5rem, 3.5rem);
  }
}
@media (min-width: 744px) {
  .menu-container.open .nav-menu::after {
    transform: rotate(-776.1deg) translate(3.5rem, 3.5rem);
  }
}
@media (min-width: 1280px) {
  .menu-container.open .nav-menu::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .menu-container.open .nav-menu::after {
    display: none;
  }
}

@media (min-width: 0) {
  .link-container {
    height: 100vh;
    width: 80vw;
    position: absolute;
    top: -4.5rem;
    right: -2.7rem;
    display: hidden;
    z-index: 50;
    background-color: #0F1221;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 6rem;
    list-style: none;
    font-weight: 600;
    overflow: hidden;
  }
}
@media (min-width: 744px) {
  .link-container {
    top: -10rem;
    right: -8rem;
  }
}
@media (min-width: 1280px) {
  .link-container {
    display: none;
  }
}
@media (min-width: 1440px) {
  .link-container {
    display: none;
  }
}

@media (min-width: 0) {
  .hide {
    display: none;
  }
}
@media (min-width: 744px) {
  .hide {
    display: none;
  }
}
@media (min-width: 1280px) {
  .hide {
    display: none;
  }
}
@media (min-width: 1440px) {
  .hide {
    display: none;
  }
}

@media (min-width: 0) {
  .txt-menu {
    display: none;
  }
}
@media (min-width: 744px) {
  .txt-menu {
    display: none;
  }
}
@media (min-width: 1280px) {
  .txt-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 2.5rem;
    color: #fff;
    width: 45%;
    list-style: none;
  }
}
@media (min-width: 1440px) {
  .txt-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 2.5rem;
    color: #fff;
    width: 45%;
    list-style: none;
  }
}

.img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

#name {
  text-transform: uppercase;
}/*# sourceMappingURL=welcome.css.map */